@model UserRegistration.Models.Registration

@{
    ViewData["Title"] = "Index";
}


<h4>User SignIn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Home" asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="emailNo" class="control-label"></label>
                <input asp-for="emailNo" class="form-control" />
                <span asp-validation-for="emailNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sign In" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

